<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#privacy">Privacy</a>
            </li>
            <p>Los meXas</p>


        </ul>
        <a class="button" href="/forms/feedback">Feedback</a>
    </div>
</footer>
<script src="/script/index.js"></script>