<div id="top-header">
    <div class="siteName">
        <a href="#"><h1>Rexy's Voice</h1></a>
    </div>
    <button class="menu-toggle" onclick="toggleMenu()">Menu</button>
    <ul class="navbar" id="navbar">
        <li><a href="../">Home</a></li>
        <li><a href="/forms/rateClassForm">Rate Class</a></li>
        <!-- <li><a href="../about">About</a></li> -->
    </ul>
</div>
