<header id="top-header">
    <span class="siteName">
         <a href="#"><h1>Rexy's Voice</h1></a>
    </span>
    <nav class="navbar">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </nav>
    
</header>