<div id="top-header">
    <div class="siteName">
        <a href="/"><h1>Rexy's Voice</h1></a>
    </div>
    
    <button class="menu-toggle" onclick="toggleMenu()">Menu</button>
    <ul class="navbar" id="navbar">
        <li>
            <div class="search-bar-container top results">
            <form id="searchForm" action="/search" method="GET">
                <input type="text" name="courseCode" id="courseCode" placeholder="Type course code">
                <button id="submitSearch">&#128269;</button>
            </form>
            </div>
        </li>
        <li><a href="../">Home</a></li>
        <li><a href="/forms/rateClassForm">Rate Class</a></li>
    </ul>
</div>
