<div id="top-header">
    <div class="siteName">
        <a href="#"><h1>Rexy's Voice</h1></a>
    </div>
    <button class="menu-toggle" onclick="toggleMenu()">Menu</button>
    <ul class="navbar" id="navbar">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
