
<div class="review-container">
    <label class="label" for="ccid">CCID:</label>
    <input class="input-text" type="text" id="ccid" name="ccid">

    <label class="label" for="title">Title:</label>
    <input class="input-text" type="text" id="title" name="title">

    <label class="label" for="department">Department:</label>
    <input class="input-text" type="text" id="department" name="department">

    <label class="label" for="credits">Credits:</label>
    <input class="input-number" type="number" id="credits" name="credits">

    <label class="label" for="description">Description:</label>
    <textarea class="input-textarea" id="description" name="description"></textarea>

    <label class="label" for="audit">Audit:</label>
    <input class="input-checkbox" type="checkbox" id="audit" name="audit">

    <label class="label" for="clos">CLOs:</label>
    <input class="input-text" type="text" id="clos" name="clos">

    <label class="label" for="prerequisites">Prerequisites:</label>
    <input class="input-text" type="text" id="prerequisites" name="prerequisites">

    <label class="label" for="reviews">Reviews:</label>
    <input class="input-text" type="text" id="reviews" name="reviews">

    <label class="label" for="satisfaction">Satisfaction:</label>
    <input class="input-number" type="number" id="satisfaction" name="satisfaction" min="1" max="5">
</div>