


<form>
    <label for="grades">Grades</label>
    <select>
      <option value="0">A +</option>
      <option value="1">A -</option>
      <option value="2">B +</option>
      <option value="3">B -</option>
      <option value="4">C +</option>
      <option value="5">C -</option>
      <option value="6">D</option>
      <option value="6">F</option>
    </select>
  <br>
  <div class="slidecontainer">
    <p>Difficulty:</p>
    <input type="range" min="1" max="100" value="50">
  </div>
  <div class="slidecontainer">
    <p>Hours per week:</p>
    <input type="range" min="1" max="100" value="50">
  </div>
  <label class="container">Final Project
    <input type="checkbox">
  <!--   <span class="checkmark"></span> -->
  </label>
  <label class="container">Final Test
    <input type="checkbox">
  <!--   <span class="checkmark"></span> -->
  </label>
  <label class="container">Multiple Projects
    <input type="checkbox">
  <!--   <span class="checkmark"></span> -->
  </label>
  <label class="container">Multiple Tests
    <input type="checkbox">
  <!--   <span class="checkmark"></span> -->
  </label>
  <label class="container">Midterm
    <input type="checkbox">
  <!--   <span class="checkmark"></span> -->
  </label>
  <div class="slidecontainer">
    <p>Overall Satisfaction</p>
    <input type="range" min="1" max="100" value="50">
  </div>
  <div class="radio-group">
      <input type="radio" id="easy" name="difficulty" value="easy">
      <label for="easy">Remote</label>
      
      <input type="radio" id="medium" name="difficulty" value="medium">
      <label for="medium">In Person</label>
    
      
      <input type="radio" id="hard" name="difficulty" value="hard">
      <label for="hard">Hybrid</label>
  </div>
  <div class="radio-group">
      <input type="radio" id="easy" name="difficulty" value="easy">
      <label for="easy">1st Block</label>
      
      <input type="radio" id="medium" name="difficulty" value="medium">
      <label for="medium">2nd Block</label>
    
      
      <input type="radio" id="hard" name="difficulty" value="hard">
      <label for="hard">Full</label>
  </div>
     <label for="grades">Teacher</label>
      <select>
      <option value="0">Brother Clemments</option>
      <option value="1">Brother Helfrich</option>
      <option value="2">Brother Birch</option>
      <option value="3">Brother Barzee</option>
      <option value="4">Sister Hensan</option>
    </select>
  </form>
  
  