<div class="background-container">
    <div class="overlay"></div>
    <div class="background-image" id="backgroundImageId">
        <%- messages() %>

        <% if (errors) { console.log(errors)%>
            <ul class="notice">
           <% errors.forEach(error => { %>
             <li><%= error %></li>
          <%  }) %>
           </ul>
          <% } %>
    </div>
    <div class="search-bar-container">
        <form id="searchForm" action="/about/course" method="GET">
            <input type="text" name="courseCode" id="courseCode" placeholder="Type course code">
            <button id="submitSearch">&#128269;</button>
        </form>
    </div>
</div>
