<div class="background-container">
    <div class="overlay"></div>
    <div class="background-image" id="backgroundImageId"></div>
    <div class="search-bar-container">
        <input type="text" id="courseCode" placeholder="Type course code">
        <button id="submitSearch">&#128269;</button>
    </div>
</div>
