@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Lora, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* N      A      V      B      A      R */

#top-header {
  display: flex;
  justify-content: space-between;
  /* Distribuir espacio entre el siteName y el navbar */
  align-items: center;
  padding: 0 20px;
  background-color: #2B4D6A;
}

.siteName a {
  text-decoration: none;
  font-size: 18px;
  color: #FFD700;
}

.siteName a:hover {
  text-decoration: none;
}

/* Estilo de Navbar y Botones */
.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  gap: 60px;
}

.navbar li {
  margin: 10px 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
  background-color: #575757;
  transform: translateY(-2px);
}

.navbar a.active {
  background-color: #000000;
}

.navbar a.active:hover {
  background-color: #575757;
}


/* F      O      R      M */

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}



/* F    O     O    T      E     R*/
.footer {
  background-color: #2B4D6A;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;

  form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
  }

  .dropdown * {
    box-sizing: border-box;
  }

  .select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px;
    margin-bottom: 0;
  }

  .select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
  }

  .select:hover {
    background: #323741;
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }

  .caret-rotate {
    transform: rotate(180deg);
  }

  .menu {
    list-style: none;
    padding: 0;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    /* top: 3em; */
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

  .menu li {
    padding: 0.7em 0.5em;
    /* margin: 0.3em 0; */
    border-radius: 0.5em;
    cursor: pointer;
  }

  .menu li:hover {
    background: #2a2d35;
  }

  .active {
    background: #23242a;
  }

  .menu-open {
    display: block;
    opacity: 1;
  }