@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Lora, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* N      A      V      B      A      R */

#top-header {
  display: flex;
  justify-content: space-between;
  /* Distribuir espacio entre el siteName y el navbar */
  align-items: center;
  padding: 0 20px;
  background-color: #2B4D6A;
}

.siteName a {
  text-decoration: none;
  font-size: 18px;
  color: #FFD700;
}

.siteName a:hover {
  text-decoration: none;
}

/* Estilo de Navbar y Botones */
.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  gap: 60px;
}

.navbar li {
  margin: 10px 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
  background-color: #575757;
  transform: translateY(-2px);
}

.navbar a.active {
  background-color: #000000;
}

.navbar a.active:hover {
  background-color: #575757;
}


/* F      O      R      M */

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* F    O     O    T      E     R*/
.footer {
  background-color: #2B4D6A;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}